In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2019, 6, 13, 15, 18, 53, 763708)

In [4]:
now.year, now.month, now.day

(2019, 6, 13)

In [6]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [7]:
delta

datetime.timedelta(926, 56700)

In [8]:
delta.days

926

In [9]:
delta.seconds

56700

In [10]:
from datetime import timedelta

In [11]:
start = datetime(2011, 1, 7)

In [12]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### string and datetime conversion

In [15]:
stamp = datetime(2011, 1, 3)

In [16]:
str(stamp)

'2011-01-03 00:00:00'

In [20]:
stamp.strftime('%F')# is equivalent to '%Y-%m-%d' #create a string from a datetime using a particular formatting:

'2011-01-03'

In [21]:
value = '2011-01-03'

In [22]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
datestrs = ['7/6/2011', '8/6/2011']

In [24]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [25]:
from dateutil.parser import parse

In [26]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [27]:
parse('April, 18, 1990')

datetime.datetime(1990, 4, 18, 0, 0)

In [29]:
parse('04/18/1990') #parse is GREAT. Make sure to use this instead of silly formatting strings!

datetime.datetime(1990, 4, 18, 0, 0)

In [36]:
from datetime import datetime

In [37]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12),]

In [38]:
ts = pd.Series(np.random.randn(6), index=dates)

In [39]:
ts

2011-01-02   -1.345651
2011-01-05    0.799014
2011-01-07   -0.628142
2011-01-08    0.088857
2011-01-10    0.015621
2011-01-12    0.324859
dtype: float64

In [40]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [41]:
ts + ts[::2]

2011-01-02   -2.691302
2011-01-05         NaN
2011-01-07   -1.256284
2011-01-08         NaN
2011-01-10    0.031243
2011-01-12         NaN
dtype: float64

In [42]:
ts.index.dtype

dtype('<M8[ns]')

In [43]:
stamp = ts.index[0]

In [44]:
stamp

Timestamp('2011-01-02 00:00:00')

In [45]:
stammp = ts.index[2]

In [46]:
ts[stamp]

-1.345651008743799

In [47]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [49]:
longer_ts[:10]

2000-01-01   -0.262993
2000-01-02    1.455177
2000-01-03   -1.014485
2000-01-04   -1.276812
2000-01-05    0.696621
2000-01-06    0.023655
2000-01-07   -1.070729
2000-01-08    0.758064
2000-01-09    0.370438
2000-01-10   -0.936480
Freq: D, dtype: float64

In [51]:
longer_ts['2001-05']

2001-05-01   -0.818968
2001-05-02    0.006586
2001-05-03    0.937719
2001-05-04   -0.778393
2001-05-05   -0.724362
2001-05-06    0.451853
2001-05-07   -0.800475
2001-05-08   -1.173295
2001-05-09    0.117168
2001-05-10   -0.311545
2001-05-11    1.117649
2001-05-12    0.480779
2001-05-13    0.671358
2001-05-14    0.299799
2001-05-15    1.015476
2001-05-16   -0.099482
2001-05-17    0.989879
2001-05-18   -0.464459
2001-05-19   -0.311612
2001-05-20    1.226719
2001-05-21   -1.421403
2001-05-22   -0.888113
2001-05-23    0.378868
2001-05-24    0.601451
2001-05-25   -0.330087
2001-05-26   -0.934456
2001-05-27   -0.527692
2001-05-28   -0.239025
2001-05-29   -0.839501
2001-05-30    0.414683
2001-05-31   -0.207595
Freq: D, dtype: float64

In [52]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.628142
2011-01-08    0.088857
2011-01-10    0.015621
2011-01-12    0.324859
dtype: float64

In [53]:
ts

2011-01-02   -1.345651
2011-01-05    0.799014
2011-01-07   -0.628142
2011-01-08    0.088857
2011-01-10    0.015621
2011-01-12    0.324859
dtype: float64

In [54]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.628142
2011-01-08    0.088857
2011-01-10    0.015621
dtype: float64

In [55]:
ts

2011-01-02   -1.345651
2011-01-05    0.799014
2011-01-07   -0.628142
2011-01-08    0.088857
2011-01-10    0.015621
2011-01-12    0.324859
dtype: float64

In [56]:
ts.truncate(after='1/9/2011') #lops off everything after the given date w/ after kwarg

2011-01-02   -1.345651
2011-01-05    0.799014
2011-01-07   -0.628142
2011-01-08    0.088857
dtype: float64

In [57]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [58]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])

In [59]:
long_df[:10]

            Colorado     Texas  New York      Ohio
2000-01-05 -0.431800 -0.678089 -1.597561  1.477798
2000-01-12  0.535323  0.029814  1.668204  1.211632
2000-01-19 -0.447666  0.184281 -0.280883 -0.430493
2000-01-26 -0.576047  0.207106  0.963253 -1.142553
2000-02-02  0.557156  0.003418  0.046732  0.170544
2000-02-09 -0.928892  1.621574  0.342091 -1.170541
2000-02-16 -1.056455 -0.292842 -0.337580 -1.176166
2000-02-23  0.873898  0.731541 -0.523090 -1.558305
2000-03-01 -1.112910  0.404781  0.096404 -0.977049
2000-03-08  0.920072 -0.249742 -0.775090  1.178326

In [60]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.657083 -0.428737 -1.112135 -0.813161
2001-05-09 -1.353596 -0.243631 -1.101490 -0.310387
2001-05-16  1.237605  1.219621 -0.259226 -1.766523
2001-05-23  2.649949  1.114723 -1.679070  0.755060
2001-05-30 -0.870478  0.449167  0.657522 -0.250469

In [67]:
dates = pd.DatetimeIndex(['1/1/2000'] + ['1/2/2000'] * 3 + ['1/3/2000'])

In [68]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [69]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [70]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [71]:
dup_ts['1/3/2000']

4

In [72]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [73]:
pd.date_range(start='2012-04-01', periods=30)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30'],
              dtype='datetime64[ns]', freq='D')

In [78]:
pd.date_range(start=datetime.now(), periods=100, freq='WOM-2SUN', normalize=True)

DatetimeIndex(['2019-07-14', '2019-08-11', '2019-09-08', '2019-10-13',
               '2019-11-10', '2019-12-08', '2020-01-12', '2020-02-09',
               '2020-03-08', '2020-04-12', '2020-05-10', '2020-06-14',
               '2020-07-12', '2020-08-09', '2020-09-13', '2020-10-11',
               '2020-11-08', '2020-12-13', '2021-01-10', '2021-02-14',
               '2021-03-14', '2021-04-11', '2021-05-09', '2021-06-13',
               '2021-07-11', '2021-08-08', '2021-09-12', '2021-10-10',
               '2021-11-14', '2021-12-12', '2022-01-09', '2022-02-13',
               '2022-03-13', '2022-04-10', '2022-05-08', '2022-06-12',
               '2022-07-10', '2022-08-14', '2022-09-11', '2022-10-09',
               '2022-11-13', '2022-12-11', '2023-01-08', '2023-02-12',
               '2023-03-12', '2023-04-09', '2023-05-14', '2023-06-11',
               '2023-07-09', '2023-08-13', '2023-09-10', '2023-10-08',
               '2023-11-12', '2023-12-10', '2024-01-14', '2024-02-11',
               '2024-03-10', '2024-04-14', '2024-05-12', '2024-06-09',
               '2024-07-14', '2024-08-11', '2024-09-08', '2024-10-13',
               '2024-11-10', '2024-12-08', '2025-01-12', '2025-02-09',
               '2025-03-09', '2025-04-13', '2025-05-11', '2025-06-08',
               '2025-07-13', '2025-08-10', '2025-09-14', '2025-10-12',
               '2025-11-09', '2025-12-14', '2026-01-11', '2026-02-08',
               '2026-03-08', '2026-04-12', '2026-05-10', '2026-06-14',
               '2026-07-12', '2026-08-09', '2026-09-13', '2026-10-11',
               '2026-11-08', '2026-12-13', '2027-01-10', '2027-02-14',
               '2027-03-14', '2027-04-11', '2027-05-09', '2027-06-13',
               '2027-07-11', '2027-08-08', '2027-09-12', '2027-10-10'],
              dtype='datetime64[ns]', freq='WOM-2SUN')

In [79]:
from pandas.tseries.offsets import Hour, Minute

In [80]:
hour = Hour()

In [81]:
hour

In [82]:
four_hours = Hour(4)

In [83]:
four_hours