In [55]:
%%javascript
$('#menubar').toggle();

In [28]:
import numpy as np

In [29]:
import pandas as pd

In [7]:
import pandas_datareader.data as web

In [8]:
import pandas_datareader.data as web

In [9]:
all_data = {ticker: web.get_data_yahoo(ticker)
            for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [10]:
price = pd.DataFrame({ticker: data['Adj Close']
                      for ticker, data in all_data.items()})

In [11]:
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [12]:
returns = price.pct_change()

In [13]:
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2019-05-30  0.005187  0.001335 -0.000925  0.006323
2019-05-31 -0.018116 -0.012809 -0.019912 -0.016305
2019-06-03 -0.010110 -0.061071  0.010080 -0.031048
2019-06-04  0.036584  0.016232  0.034459  0.027704
2019-06-05  0.013805 -0.012753 -0.010099  0.018675

In [14]:
returns['MSFT'].corr(returns['IBM'])

0.48642536241148138

In [16]:
returns['MSFT'].cov(returns['IBM'])

8.6885528416412534e-05

In [19]:
returns['GOOG'].mean()

0.0006278598568007398

In [26]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [27]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [31]:
uniques = obj.unique()

In [33]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [35]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [36]:
mask = obj.isin(['b', 'c'])

In [37]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [38]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [41]:
to_match = pd.Series('c a b b c a'.split())

In [42]:
unique_vals = pd.Series(['c', 'b', 'a'])

In [49]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4],
                     'Qu4': [6, 7, 0, 3, 3]})

In [50]:
data

   Qu1  Qu2  Qu3  Qu4
0    1    2    1    6
1    3    3    5    7
2    4    1    2    0
3    3    2    4    3
4    4    3    4    3

In [51]:
result = data.apply(pd.value_counts).fillna(0)

In [53]:
result #How many times does each unique value appear in each given question.
       #how many threes in question 1?
       #how many sevens in question 4?

   Qu1  Qu2  Qu3  Qu4
0  0.0  0.0  0.0  1.0
1  1.0  1.0  1.0  0.0
2  0.0  2.0  1.0  0.0
3  2.0  2.0  0.0  2.0
4  2.0  0.0  2.0  0.0
5  0.0  0.0  1.0  0.0
6  0.0  0.0  0.0  1.0
7  0.0  0.0  0.0  1.0